[Unit]
Description=celery daemon
After=network.target

[Service]
User=herbew
Group=www-data
WorkingDirectory=/home/herbew/gabis
ExecStart=/home/herbew/envgabis/bin/python3 celery -A backoffice worker -l info --pool=gevent

[Install]
WantedBy=multi-user.target