[Unit]
Description=celery daemon
After=network.target

[Service]
User=herbew 
Group=www-data
WorkingDirectory=/home/herbew/gabis
ExecStart=/home/herbew/envgabis/bin/python3 celery -A backoffice beat -l info --scheduler django_celery_beat.schedulers:DatabaseScheduler

[Install]
WantedBy=multi-user.target