{% extends "staffs/schedules/base.html" %}
{% load static %}
{% load i18n %}

{% block extra_head %}
    <link href="{% static 'sweetalert2/css/sweetalert2.css' %}" rel="stylesheet"/>
    <link href="{% static 'sweetalert2/css/sweetalert2.min.css' %}" rel="stylesheet"/>
{% endblock extra_head %}

{% block css_telephone %}
{% endblock css_telephone %}

{% block page_title %}
	{% if guest_book %}
		<h3>{{ guest_book.name }}</h3> {{ guest_book.pik }}<br>
		{% trans "Lingkungan" %} {{ guest_book.lingkungan.name }} <small>{% trans "Wilayah" %} {{guest_book.wilayah.name}}</small><br>
		<small>{% trans "Paroki" %} {{guest_book.paroki.name}}</small>, <small>{{guest_book.keuskupan.name}}</small>
    {% else %}
        <div class="row">
             <div class="col-md-12">
                <form class="form-material form-horizontal" method="get" action="">
	             {{ form_filter.as_p }}
	             <div class="text-right">
	                 <button 
	                 	class="btn btn-success" 
	                 	type="submit"
	                 	aria-pressed="false"
	                 	data-toggle="tooltip" data-placement="bottom"
	              		title="{% trans 'Validation Guess Book ..' %}" 
	              		data-original-title="{% trans 'Validation Guess Book ..' %}"
	                 	>
	                     <i class="icon-magnifier" aria-hidden="true"></i>
	                     <span class="text">{% trans "Validate" %}</span>
	                 </button>
	             </div>
	         </form>
             </d>
        </div>
	{% endif %}
{% endblock page_title %}

{% block title_filter %}{% endblock title_filter %}

{% block add_new_button %}{% endblock add_new_button %}

{% block breadcrumb %}
	
{% endblock breadcrumb %}

{% block content %}
	<div class="row">
		<div class="card col-md-12">
	        <div class="card text-center">
                <div class="card-body text-center">
                    {% if guest_book %}
                        <div class="ibox">
                        	<div class="ibox-title">
                        		<b><h3>{% trans "Congratulation" %}</h3></b><br>
                        		<small>{% trans "You have been successfully registered for event" %} {{guest_book.time_event.event.name}}</small>
                        	</div>
                        	<div class="ibox-content">
                        		{% trans "Please save and remember your TOKEN number" %}
                        		<h1 style="color:red;">{{ guest_book.pin }}</h1>
                        		
                        		{% if guest_book.seminar_available %}
                        			<b><h3>{% trans 'You have the opportunity to attend the seminar' %}</h3></b><br>
                        			{% trans "on Sunday, July 23, 2023 11:00 - 16:00 WIB." %} <br>
                        			{% trans "Seat available" %} {{ guest_book.total_seminar_available }}<br>
                        			<b>{% trans "Only" %} 25.000 IDR <b><br><br>
                        			<button 
                                 		class="btn btn-outline-success waves-effect waves-light"
                                 		data-toggle="tooltip" 
										data-placement="bottom" 
										title="{% trans 'Register Seminar Kain Kafan Yesus 2023' %}" 
										data-original-title="{% trans 'Register Seminar Kain Kafan Yesus 2023' %}"
                                 		type="button"
                                 		onclick='update_guestbook_attended("{{ object.name.upper }}","{% url 'staffs:guestbook_attended' 1 %}")'
                                 		>
                                 		{% trans "Register Seminar" %}
                                 	</button><br><br>
                        		{% endif %}
                        		
                                <small>{% trans "If any question please contact" %}<br><b>Ibu Betty +62 815-6751-412</b></small>
                                <br><br>
                                <div class="col-md-12 text-left">
                                {% trans "The list of your schedules:" %}<br><br>
                                <div class="table-responsive">
                                     <table id="mytable" class="table table-striped">
                                         <thead>
                                             <tr>
                                             	 <th style="width:100%;"># {% trans "Event" %}</th>
                                             </tr>
                                         </thead>
                                         <tbody>
                                                {% if object_list %}
                             		                {% for no, object in object_list %}
                                                        <tr>
                                                            <td>
                                                            	{{ no }}. {{ object.time_event.event.name }}<br>
                                                            	&nbsp;&nbsp;<small>{{ object.time_event.group }}</small><br>
                                                                &nbsp;&nbsp;<small>{{ object.time_event.weekday }}, {{ object.time_event.date_string }} {{ object.time_event.start_time_string }} - {{ object.time_event.end_time_string }} WIB</small><br>
                                                                &nbsp;&nbsp;TOKEN : <b>{{ object.pin }}</b> <br><br>
                                                                {% if object.attended %}
                                                                	&nbsp;&nbsp;{% trans "Have attended"%}
                                                                {% else %}
	                                                                &nbsp;&nbsp;<button 
							                                     		class="btn btn-outline-success waves-effect waves-light"
							                                     		data-toggle="tooltip" 
						    											data-placement="bottom" 
						    											title="{% trans 'Attend' %} {{ object.name }}" 
						    											data-original-title="{% trans 'Attend' %} {{ object.name }}"
							                                     		type="button"
							                                     		onclick='update_guestbook_attended("{{ object.name.upper }}","{% url 'staffs:guestbook_attended' object.pk %}")'
							                                     		>
							                                     		<span class="btn-label">
							                                     			<i class="icon-pencil"></i>
							                                     		</span> {% trans "Attend" %}
							                                     	</button>
							                                    {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endif %}
                                         </tbody>
                                    </table>
                                </div>
                                </div>
                        	</div>	
                        </div>
                    {% else %}
                        <div class="ibox">
                            <div class="ibox-title">
                        		<b><h3>{% trans "You haven't registered yet" %}</h3></b><br>
                        		<small>{% trans "Please Click" %} <a href="{% url 'schedules:time_event_ziarah_list' %}"}>{% trans "Registration" %}</a></small>
                        	</div>
                        </div>
                    {% endif %}
                </div>
             </div>
        </div>
	</div>
{% endblock content %}

{% block extra_jquery %}{% endblock extra_jquery %}

{% block js_plugin %}
    <script src="{% static 'sweetalert2/js/sweetalert2.all.js' %}"></script>
    <script src="{% static 'sweetalert2/js/sweetalert2.all.min.js' %}"></script>
    <!--<script src="{% static 'sweetalert2/js/sweetalert2.common.js' %}"></script> -->
    <script src="{% static 'sweetalert2/js/sweetalert2.js' %}"></script>
    <script src="{% static 'sweetalert2/js/sweetalert2.min.js' %}"></script>
{% endblock js_plugin %}

{% block js_telephone %}
{% endblock js_telephone %}

{% block extra_js %}
	<script>
		//======================================================================
		//Update GuestBook Attended
		//INPUT name, url
		//OUTPUT redirect staffs:guestbook_detail
		//======================================================================
		function update_guestbook_attended(name, url) {
	        swal(
	            {
	              title:'{% trans "UPDATE GUESTBOOK ATTENDED" %}',
	              text: '{% trans "Are you sure to update data" %} '+name+" ?",
	              type:'warning',
	              showCancelButton:true,
	              confirmButtonColor:'#3085d6',
	              cancelButtonColor:'#d33',
	              confirmButtonText:'{% trans "Yes, update it" %}',
	              cancelButtonText:'{% trans "No, cancel it" %}',
	              confirmButtonClass:'btn btn-success',
	              cancelButtonClass:'btn btn-default',
	              buttonsStyling: false
	            }).then(function (result) {
	            if (result.value) {
	            	var data = {
                    	 	csrfmiddlewaretoken: '{{ csrf_token }}'
                    	 	};
	            	  
	                swal({
	                        title:'{% trans "UPDATED" %}',
	                        text:'{% trans "The data" %} '+name+', {% trans "have been successfully update it!" %}.',
	                        type:'success'
	                        }).then(function (r){
	                        	swal({
	   	              		         position: 'top-end',
	   	              		         type:'warning',
	   	              		         html:'<div><div><h3>{% trans "UPDATE GUESTBOOK ATTENDED"%}</h3></div><div><label>{% trans "The updating data on progress .." %}</label></div></div>',
	   	              		       });
	                        	
	                        	swal.showLoading();
	                        	$.ajax({
	                        		
		                              url:url,
		                              type:"POST",
		                              data:data,
		                              dataType: "json",
		                              success: function(data) {
		                            	  if (data.status==200){
		                            		  window.location.href=data.url;
		                            	  }
		                            	  
		                              },
		                              error: function(data){
		                                  console.log(data);
		                              }
		                          });
	                        });
	                        
	              // result.dismiss can be 'cancel', 'overlay',
	              // 'close', and 'timer'
	              } else if (result.dismiss === 'cancel') {
	                swal(
	                  '{% trans "CANCEL" %}',
	                  '{% trans "The update data" %} '+name+', {% trans "have been canceled!" %}.',
	                  'error'
	                )
	              }
	        });
	    }
	</script>
{% endblock extra_js %}