{% extends "schedules/base.html" %}


{% load i18n %}
{% load static %}
{% load avatar_tags %}
{% load utility_tags %}
{% load tz %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
	{% get_current_language as LANGUAGE_CODE %}
	{% get_current_timezone as TIME_ZONE %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css">
	<link href="{% static 'select2-4.0.13/css/select2.css' %}" rel="stylesheet"/>
	<link href="{% static 'sweetalert2/css/sweetalert2.css' %}" rel="stylesheet"/>
    <link href="{% static 'sweetalert2/css/sweetalert2.min.css' %}" rel="stylesheet"/>
	
	
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.min.js'></script>
    
    <script src="{% static 'eliteadmin-2020/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'datatables-1.10.21/js/jquery.dataTables.min.js' %}"></script>
    <!-- Popup message jquery -->
    <script src="{% static 'eliteadmin-2020/js/jquery.toast-2017.min.js' %}"></script>
	<script src="{% static 'select2-4.0.13/js/select2.full.min.js' %}"></script>
	<script src="{% static 'sweetalert2/js/sweetalert2.all.js' %}"></script>
    <script src="{% static 'sweetalert2/js/sweetalert2.all.min.js' %}"></script>
    <!--<script src="{% static 'sweetalert2/js/sweetalert2.common.js' %}"></script> -->
    <script src="{% static 'sweetalert2/js/sweetalert2.js' %}"></script>
    <script src="{% static 'sweetalert2/js/sweetalert2.min.js' %}"></script>
    
    <script type="text/javascript">

    /* Document Event Listener */
    document.addEventListener('DOMContentLoaded', function() {
        var language_code = '{{LANGUAGE_CODE}}';
        var calendar_element = document.getElementById('calender');
        var now_date_ts = new Date({{datef.ts_dict.year}}, {{datef.ts_dict.month}}, {{datef.ts_dict.day}}, {{datef.ts_dict.hour}}, {{datef.ts_dict.minute}}, {{datef.ts_dict.second}});
        
        var now_date = now_date_ts.getDate();
        var now_month = now_date_ts.getMonth();
        var now_year = now_date_ts.getFullYear();
        
        
        /* Initial Calendar Object */
        var calendar = new FullCalendar.Calendar(
        	calendar_element, 
        	{
				locale: language_code,
              	header: {
                  left: "title",

              	},
              	editable: true,
              	height: 'auto',
              	now: '{{ datef.ts_string }}', 
              	timeZone: '{{ TIME_ZONE }}',
              	nowIndicator: true,
              	firstDay: 7, // first days from monday,
              	allDaySlot:false,
              	slotMinTime:"08:00:00",
              	slotMaxTime:"21:00:00",
              	initialView: 'timeGridWeek',
              	selectable: true,
          		buttonIcons: false, // show the prev/next text
                initialDate: "{{ datef.date|date:'Y-m-d' }}",
              
              	defaultView: "agendaDay",

	            headerToolbar: {
	                    left: 'title',
                        center: '',
                        right: ''
		
	              },
	            
	            /* IF select */
              	select: function(info) {
              		// ----
              	},
              	/* end IF select */
              	
              	/* IF click */
              	eventClick: function(e) {
                    var ds_now = new Date();
                    if (e.event.title.split("Avail: ")[1] > 0 && e.event.end > ds_now){

                        const weekday = ['{% trans "Sunday" %}',
                                        '{% trans "Monday" %}',
                                        '{% trans "Tuesday" %}',
                                        '{% trans "Wednesday" %}',
                                        '{% trans "Thursday" %}',
                                        '{% trans "Friday" %}',
                                        '{% trans "Saturday" %}'];

                        var group = e.event.title.split(",")[0];
                        var available = "{% trans 'Available : ' %} " + e.event.title.split("Avail: ")[1];
                        var start = e.event.start.toISOString().split("T")[1].split(":")[0]+":"+e.event.start.toISOString().split("T")[1].split(":")[1];
                        var end = e.event.end.toISOString().split("T")[1].split(":")[0]+":"+e.event.end.toISOString().split("T")[1].split(":")[1];
                    	swal({
	                          title: group,
	                          html: '<div>' + 
                                        '<h3>' + weekday[e.event.start.getDay()] + 
                                        ', '+ start +"-"+ end + " WIB.<br>" +
                                        available + "</h3> <br>" +
                                        '{% trans "Are you sure to continue the registration process" %}?'+                              
                                    '</div>',
	                          type:'info',
	                          showCancelButton:true,
	                          confirmButtonColor:'#3085d6',
	                          cancelButtonColor:'#d33',
	                          confirmButtonText:'{% trans "Yes, process it" %}',
	                          cancelButtonText:'{% trans "No, cancel it" %}',
	                          confirmButtonClass:'btn btn-success',
	                          cancelButtonClass:'btn btn-default',
	                          buttonsStyling: false
	                        }).then(function (result) {
	                        		//here
	                        		if (result.dismiss !== 'cancel'){
	                        			window.location.href='{% url "schedules:guestbook_create" %}?pk_time_event='+e.event.id;
	                        		}
	                        	}
	                        );
                    }
              	},
              	/* end IF click */
              	
              	/* IF resize */
              	eventResize: function(e) {
              		//--
              	},
              	/* end IF resize */
              	
              	/* IF event Drop */
              	eventDrop: function(info) {
              		//--
                },
                /* end IF event Drop */
                
                /* IF event Allow */
                eventAllow: function(dropInfo, draggedEvent) {
                	//--
                
              	},
              	/* end IF event Allow */
              	
              	/* IF events */
              	events: [
              	//--
              		{% for no, object in object_list %}
              			{
              				id: "{{ object.id }}",
              				title: "{{ object.group }}, "+"{% trans "Avail: " %}"+"{{object.available}}",
              				start:"{{ object.calendar_start_time_string }}",
                      		end:"{{ object.calendar_end_time_string }}",
                      		color:'{{ object.color }}'
              			}{% if not forloop.last %},{% endif %}
              		{% endfor %}
              	]
              	/* end IF events */
        });

        calendar.render();
        
    })
    
    </script>
{% endblock extra_head %}

   
{% block title_filter %}{% endblock title_filter %}

{% block page_title %}
	{% trans "Event" %} <small>{{event_title}}</small>
{% endblock page_title %}

{% block breadcrumb %}
	<nav class="breadcrumb text-right">
	    <span class="breadcrumb-item active">{% trans "Event" %} <small>{{event_title}}</small>
	    </span> &nbsp;&nbsp;|&nbsp;&nbsp; <a href="{% url 'redirect' %}">{% trans "Sign In" %}</a>
	    
	</nav>
{% endblock breadcrumb %}

{% block add_new_button %}{% endblock add_new_button %}

{% block content %}
    <style>
       
        .fc-event {
          padding: 2px
        }
    </style>
	<div class="row">
         <div class="col-sm-12">
             <div class="card">
                <section class="col-sm-12" id="calender-room-wrapper">
                	<div id="calender"></div>
                </section>
             </div>
         </div>
     </div>
{% endblock content %}

{% block extra_jquery %}{% endblock extra_jquery %}

{% block js_plugin %} {% endblock js_plugin %}

{% block extra_js %}
	
{% endblock %}




